
### Israel - 

* PIN -
* 934567 - Technician L2
* 720751 - Technician L3
* 519667 - Technician L4

* ADDRESS ID - **AD_464057

In [1]:
import os
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

In [3]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\16_ExcellenceUsersActiveAsNewOrgWithFimsFields.rmhdf5table')

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\rapidminer\core\project.py:121: H5pyDeprecationWarning: Using astype() as a context manager is deprecated. Slice the returned object instead, like: ds.astype(np.int32)[:10]
  with x.astype('int64'):

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282593 entries, 0 to 3282592
Data columns (total 52 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Brand                                       category
 1   Business Region                             category
 2   Market                                      category
 3   Sub Market                                  category
 4   Country                                     category
 5   CustomerServiceMapping                      category
 6   AddressIDExcellence                         category
 7   CI Code                                     category
 8   Retailer Name                               category
 9   BusUnitType                                 category
 10  BusUnitSubType                              category
 11  Town                                        category
 12  Retailer Status                             category
 13  PIN                                         category
 14  First Name                                  category
 15  Surname                                     category
 16  Email                                       category
 17  Job Role                                    category
 18  Excellence Level                            category
 19  Target Level                                category
 20  Certification Achieved Date                 datetime64[ns]
 21  Certification Expiry Date                   datetime64[ns]
 22  IsFastTrack                                 float64
 23  EmpStatus                                   category
 24  Job Role Start Date                         datetime64[ns]
 25  Job Role End Date                           datetime64[ns]
 26  JobRoleActiveInactive                       category
 27  UserStatus                                  category
 28  UserSubStatus                               category
 29  Last Login Date                             datetime64[ns]
 30  Franchise Country                           category
 31  Distributor CI Code of Main Retailer        category
 32  Franchise CI Code of Main Retailer          category
 33  FranchiseCategory                           category
 34  Address ID                                  category
 35  Address Latitude                            float64
 36  Address Longitude                           float64
 37  APO Retailer                                category
 38  Battery Electric Vehicle Sales              category
 39  Distributor CI Code                         category
 40  Franchise CI Code                           category
 41  Franchise Status                            category
 42  Franchise Trading Title                     category
 43  Franchise Type                              category
 44  IsMerged                                    int64
 45  IsPrimary                                   int64
 46  JLR Number                                  category
 47  Plug-In Hybrid Electric Vehicle Sales       category
 48  Retailer Group                              category
 49  ServiceÂ Traction Battery Repair Enabled     category
 50  Service Traction Battery Repair Restricted  category
 51  SVO                                         category
dtypes: category(42), datetime64[ns](5), float64(3), int64(2)
memory usage: 466.6 MB

In [10]:
df[["Brand","Excellence Level","PIN","JobRoleActiveInactive","AddressIDExcellence"]].query('PIN==("519667","720751", "934567") and JobRoleActiveInactive == "Active" and AddressIDExcellence == "AD_464057" ').sort_values(by= "PIN")

,Brand,Excellence Level,PIN,JobRoleActiveInactive,AddressIDExcellence
2519835,Jaguar,Level 0,519667,Active,AD_464057
2519836,Jaguar,Level 0,519667,Active,AD_464057
2519837,Jaguar,Level 0,519667,Active,AD_464057
2519838,Jaguar,Level 0,519667,Active,AD_464057
2520622,Land Rover,Level 0,519667,Active,AD_464057
2520621,Land Rover,Level 0,519667,Active,AD_464057
2520620,Land Rover,Level 0,519667,Active,AD_464057
2520619,Land Rover,Level 0,519667,Active,AD_464057
2520689,Land Rover,Level 0,934567,Active,AD_464057
2520690,Land Rover,Level 0,934567,Active,AD_464057
2520688,Land Rover,Level 0,934567,Active,AD_464057
2520687,Land Rover,Level 0,934567,Active,AD_464057
2519994,Jaguar,Level 0,934567,Active,AD_464057
2519993,Jaguar,Level 0,934567,Active,AD_464057
2519992,Jaguar,Level 0,934567,Active,AD_464057
2519991,Jaguar,Level 0,934567,Active,AD_464057
2520691,Land Rover,Level 0,720751,Active,AD_464057
2520692,Land Rover,Level 0,720751,Active,AD_464057
2519998,Jaguar,Level 0,720751,Active,AD_464057
2519997,Jaguar,Level 0,720751,Active,AD_464057
2519996,Jaguar,Level 0,720751,Active,AD_464057
2519995,Jaguar,Level 0,720751,Active,AD_464057
2520693,Land Rover,Level 0,720751,Active,AD_464057
2520694,Land Rover,Level 0,720751,Active,AD_464057

#### EXXCELLENCE ORG - 13

In [11]:
df_1 = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\13_ExcellenceUsersAsSource.rmhdf5table')

In [12]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404244 entries, 0 to 1404243
Data columns (total 32 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Brand                      1404244 non-null  category
 1   Level_1                    1404244 non-null  category
 2   Level_2                    1404244 non-null  category
 3   Level_3                    1404244 non-null  category
 4   Level_4                    1404244 non-null  category
 5   Level_5                    1404244 non-null  category
 6   AddressID                  1175784 non-null  category
 7   CICode                     1404123 non-null  category
 8   BusinessUnit               1403982 non-null  category
 9   BusUnitType                1404123 non-null  category
 10  BusUnitSubType             1404123 non-null  category
 11  BusUnitStatus              1404123 non-null  category
 12  Town                       1302035 non-null  category
 13  PIN                        1401598 non-null  category
 14  FirstName                  1401598 non-null  category
 15  Surname                    1401598 non-null  category
 16  EmailAddress               1400832 non-null  category
 17  EmpStatus                  1401598 non-null  category
 18  UserStatus                 1401598 non-null  category
 19  UserSubStatus              1401598 non-null  category
 20  IsMerged                   1401598 non-null  float64
 21  JobRole                    1401598 non-null  category
 22  StartDate                  1401598 non-null  datetime64[ns]
 23  EndDate                    485689 non-null   datetime64[ns]
 24  IsPrimary                  1401598 non-null  float64
 25  ExcellenceLevel            734519 non-null   category
 26  TargetLevelName            849324 non-null   category
 27  CertificationAchievedDate  720667 non-null   datetime64[ns]
 28  CertificationExpiryDate    40202 non-null    datetime64[ns]
 29  IsFastTrack                851121 non-null   float64
 30  JobRoleActiveInactive      1401598 non-null  category
 31  LastLogin                  1379931 non-null  datetime64[ns]
dtypes: category(24), datetime64[ns](5), float64(3)
memory usage: 151.5 MB

In [15]:
df_1[["Brand","ExcellenceLevel","TargetLevelName","PIN","JobRoleActiveInactive","AddressID"]].query('PIN==("519667","720751", "934567") and JobRoleActiveInactive == "Active" and AddressID == "AD_464057" ').sort_values(by= "PIN")

,Brand,ExcellenceLevel,TargetLevelName,PIN,JobRoleActiveInactive,AddressID
1355468,Jaguar,NaN,NaN,519667,Active,AD_464057
1355677,Land Rover,NaN,NaN,519667,Active,AD_464057
1355511,Jaguar,NaN,NaN,934567,Active,AD_464057
1355698,Land Rover,NaN,NaN,934567,Active,AD_464057
1355512,Jaguar,NaN,NaN,720751,Active,AD_464057
1355699,Land Rover,NaN,NaN,720751,Active,AD_464057