### NEITHERLANDS - 

* Pin - 844517
* Retailer Name - Jaguar Breeland Rotterdam / Land Rover Breeland Rotterdam
* Address ID - AD_22546

* pin - 962437

In [12]:
import numpy as np
import pandas as pd
import rapidminer

rm = rapidminer.Studio("C:\Program Files\RapidMiner\RapidMiner Studio")

In [13]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\16_ExcellenceUsersActiveAsNewOrgWithFimsFields.rmhdf5table')

c:\Users\ajain46\Anaconda3\envs\NERA\lib\site-packages\rapidminer\core\project.py:121: H5pyDeprecationWarning: Using astype() as a context manager is deprecated. Slice the returned object instead, like: ds.astype(np.int32)[:10]
  with x.astype('int64'):

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3282593 entries, 0 to 3282592
Data columns (total 52 columns):
 #   Column                                      Dtype
---  ------                                      -----
 0   Brand                                       category
 1   Business Region                             category
 2   Market                                      category
 3   Sub Market                                  category
 4   Country                                     category
 5   CustomerServiceMapping                      category
 6   AddressIDExcellence                         category
 7   CI Code                                     category
 8   Retailer Name                               category
 9   BusUnitType                                 category
 10  BusUnitSubType                              category
 11  Town                                        category
 12  Retailer Status                             category
 13  PIN                                         category
 14  First Name                                  category
 15  Surname                                     category
 16  Email                                       category
 17  Job Role                                    category
 18  Excellence Level                            category
 19  Target Level                                category
 20  Certification Achieved Date                 datetime64[ns]
 21  Certification Expiry Date                   datetime64[ns]
 22  IsFastTrack                                 float64
 23  EmpStatus                                   category
 24  Job Role Start Date                         datetime64[ns]
 25  Job Role End Date                           datetime64[ns]
 26  JobRoleActiveInactive                       category
 27  UserStatus                                  category
 28  UserSubStatus                               category
 29  Last Login Date                             datetime64[ns]
 30  Franchise Country                           category
 31  Distributor CI Code of Main Retailer        category
 32  Franchise CI Code of Main Retailer          category
 33  FranchiseCategory                           category
 34  Address ID                                  category
 35  Address Latitude                            float64
 36  Address Longitude                           float64
 37  APO Retailer                                category
 38  Battery Electric Vehicle Sales              category
 39  Distributor CI Code                         category
 40  Franchise CI Code                           category
 41  Franchise Status                            category
 42  Franchise Trading Title                     category
 43  Franchise Type                              category
 44  IsMerged                                    int64
 45  IsPrimary                                   int64
 46  JLR Number                                  category
 47  Plug-In Hybrid Electric Vehicle Sales       category
 48  Retailer Group                              category
 49  ServiceÂ Traction Battery Repair Enabled     category
 50  Service Traction Battery Repair Restricted  category
 51  SVO                                         category
dtypes: category(42), datetime64[ns](5), float64(3), int64(2)
memory usage: 466.6 MB

In [14]:
def new_func():
    df_f= df[["PIN","Excellence Level", "Country", "BusUnitType", "CI Code" , "Retailer Name","AddressIDExcellence"]]
    return df_f

df_f = new_func()
df_f

,PIN,Excellence Level,Country,BusUnitType,CI Code,Retailer Name,AddressIDExcellence
0,100600,Entry,Master Trainers,Internal,TRAIN95,Master Trainers Land Rover,NaN
1,454840,Entry,Master Trainers,Internal,TRAIN95,Master Trainers Land Rover,NaN
2,454840,Entry,Master Trainers,Internal,TRAIN95,Master Trainers Land Rover,NaN
3,454840,Entry,Master Trainers,Internal,TRAIN95,Master Trainers Land Rover,NaN
4,454840,Entry,Master Trainers,Internal,TRAIN95,Master Trainers Land Rover,NaN
...,...,...,...,...,...,...,...
3259891,202178,Entry,UK,Retailer,J2060J1438,Devonshire Motors Ltd,AD_865495
3259892,791196,Level 0,UK,Retailer,J2060J1438,Devonshire Motors Ltd,AD_865495
3259893,791196,Level 0,UK,Retailer,J2060J1438,Devonshire Motors Ltd,AD_865495
3259894,534372,Level 0,UK,Retailer,J2060J1438,Devonshire Motors Ltd,AD_865495
3259895,534372,Level 0,UK,Retailer,J2060J1438,Devonshire Motors Ltd,AD_865495

In [15]:
df_f[(df_f["PIN"].isin(["844517"])) & (df_f["AddressIDExcellence"] == 'AD_22546')].sort_values(by="PIN")

,PIN,Excellence Level,Country,BusUnitType,CI Code,Retailer Name,AddressIDExcellence
644695,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644696,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644697,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644698,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644699,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644700,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644701,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644702,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
674611,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674612,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674613,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674614,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674615,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674616,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674617,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674618,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546

In [16]:
df_f.query('PIN =="844517"')

,PIN,Excellence Level,Country,BusUnitType,CI Code,Retailer Name,AddressIDExcellence
644695,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644696,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644697,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644698,844517,Level 0,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644699,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644700,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644701,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
644702,844517,Entry,Netherlands,Retailer,J011343088,Jaguar Breeland Rotterdam,AD_22546
674611,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674612,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674613,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674614,844517,Level 0,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674615,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674616,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674617,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546
674618,844517,Entry,Netherlands,Retailer,M2640H3088,Land Rover Breeland Rotterdam,AD_22546

In [17]:
df = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\7_CertSummary.rmhdf5table')

ProjectException: Cannot read file. Not a valid rmhdf5table file format.

In [18]:
df_1 = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\13_ExcellenceUsersAsSource.rmhdf5table')

In [20]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404244 entries, 0 to 1404243
Data columns (total 32 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Brand                      1404244 non-null  category
 1   Level_1                    1404244 non-null  category
 2   Level_2                    1404244 non-null  category
 3   Level_3                    1404244 non-null  category
 4   Level_4                    1404244 non-null  category
 5   Level_5                    1404244 non-null  category
 6   AddressID                  1175784 non-null  category
 7   CICode                     1404123 non-null  category
 8   BusinessUnit               1403982 non-null  category
 9   BusUnitType                1404123 non-null  category
 10  BusUnitSubType             1404123 non-null  category
 11  BusUnitStatus              1404123 non-null  category
 12  Town                       1302035 non-null  category
 13  PIN                        1401598 non-null  category
 14  FirstName                  1401598 non-null  category
 15  Surname                    1401598 non-null  category
 16  EmailAddress               1400832 non-null  category
 17  EmpStatus                  1401598 non-null  category
 18  UserStatus                 1401598 non-null  category
 19  UserSubStatus              1401598 non-null  category
 20  IsMerged                   1401598 non-null  float64
 21  JobRole                    1401598 non-null  category
 22  StartDate                  1401598 non-null  datetime64[ns]
 23  EndDate                    485689 non-null   datetime64[ns]
 24  IsPrimary                  1401598 non-null  float64
 25  ExcellenceLevel            734519 non-null   category
 26  TargetLevelName            849324 non-null   category
 27  CertificationAchievedDate  720667 non-null   datetime64[ns]
 28  CertificationExpiryDate    40202 non-null    datetime64[ns]
 29  IsFastTrack                851121 non-null   float64
 30  JobRoleActiveInactive      1401598 non-null  category
 31  LastLogin                  1379931 non-null  datetime64[ns]
dtypes: category(24), datetime64[ns](5), float64(3)
memory usage: 151.5 MB

In [19]:
df_1[["Brand","ExcellenceLevel","PIN","JobRoleActiveInactive"]].query('PIN=="844517" and JobRoleActiveInactive == "Active"')

             Brand ExcellenceLevel     PIN JobRoleActiveInactive
677092      Jaguar             NaN  844517                Active
677093      Jaguar             NaN  844517                Active
689325  Land Rover             NaN  844517                Active
689326  Land Rover             NaN  844517                Active

In [21]:
df_2 = rapidminer.Project().read(r'C:\Users\ajain46\OneDrive\JAGUAR LAND ROVER\Network Excellence Reporting & Analytics - NERA Data Repository\Processed Data\NERA RapidMiner Repository\Evo_2_Users\Data\15_ExcellenceUsersAllAsNewOrg.rmhdf5table')

In [ ]:
df_2.head()

In [22]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404244 entries, 0 to 1404243
Data columns (total 32 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   Brand                        1404244 non-null  category
 1   Business Region              1404244 non-null  category
 2   Market                       1404244 non-null  category
 3   Sub Market                   1404244 non-null  category
 4   Country                      1404244 non-null  category
 5   CustomerServiceMapping       1392853 non-null  category
 6   AddressIDExcellence          1175784 non-null  category
 7   CI Code                      1404123 non-null  category
 8   Retailer Name                1403982 non-null  category
 9   BusUnitType                  1404123 non-null  category
 10  BusUnitSubType               1404123 non-null  category
 11  Retailer Status              1404123 non-null  category
 12  Town                         1302035 non-null  category
 13  PIN                          1401598 non-null  category
 14  First Name                   1401598 non-null  category
 15  Surname                      1401598 non-null  category
 16  Email                        1400832 non-null  category
 17  EmpStatus                    1401598 non-null  category
 18  UserStatus                   1401598 non-null  category
 19  UserSubStatus                1401598 non-null  category
 20  IsMerged                     1401598 non-null  float64
 21  Job Role                     1401598 non-null  category
 22  Job Role Start Date          1401598 non-null  datetime64[ns]
 23  Job Role End Date            485689 non-null   datetime64[ns]
 24  IsPrimary                    1401598 non-null  float64
 25  Excellence Level             1401598 non-null  category
 26  Target Level                 1401598 non-null  category
 27  Certification Achieved Date  720667 non-null   datetime64[ns]
 28  Certification Expiry Date    40202 non-null    datetime64[ns]
 29  IsFastTrack                  851121 non-null   float64
 30  JobRoleActiveInactive        1401598 non-null  category
 31  Last Login Date              1379931 non-null  datetime64[ns]
dtypes: category(24), datetime64[ns](5), float64(3)
memory usage: 152.9 MB

In [23]:
df_2[["Brand","Excellence Level","PIN","JobRoleActiveInactive"]].query('PIN=="844517" and JobRoleActiveInactive == "Active"')

             Brand Excellence Level     PIN JobRoleActiveInactive
285565      Jaguar          Level 0  844517                Active
285566      Jaguar            Entry  844517                Active
297798  Land Rover          Level 0  844517                Active
297799  Land Rover            Entry  844517                Active